
/* ALL */ 


* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Bold';
    src: url(../assets/font/IntegralCF-Bold.ttf);
}

@font-face {
    font-family: 'Paralucent';
    src: url(../assets/font/ParalucentMedium.otf);
}

html, body {
    height: 100%;
    width: 100%;
}


body {
    background-image: url('../assets/img/IMG_2455.JPG'); 
    background-size: cover;
    background-position: center; 
    opacity: 0;
    transform: scale(0.8); 
    transition: opacity 3s ease, transform 3s ease;
}

body.loaded {
    opacity: 1; 
    transform: scale(1); 
}

/* HEADER */

header {
    /*color: #F1F6F9; */
    color: black;
}

header h1 {
    font-family: 'Bold';
    font-size: 40px;
}

header h3 {
    font-family: 'Paralucent';
    font-size: 25px;
    font-style: italic;
}

.container-header {
    padding-left: 7vw;
    padding-top: 1vh;
    display: flex;
    flex-direction: row;
}

.texte-header {
    display: flex;
    flex-direction: column;
}


/* MENU  BURGER */

.container-menu-burger {
    padding-top: 2.5vh;
    padding-left: 25vw;
}

.burger {
    cursor: pointer;
    position: fixed;
    top: 27px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
}

.barre {
    width: 100%;
    height: 4px;
    background-color:  #000000;
    transition: 0.4s;
    border-radius: 50px;
}

.burger.change .barre1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.burger.change .barre2 {
    opacity: 0;
}

.burger.change .barre3 {
    transform: rotate(45deg) translate(-6px, -6px);
}



/* SLIDER */


ul {
    list-style: none;
}
.side-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;   
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
     /* background-color: rgb(23, 29, 30); */
     background-color: #F1F6F9;
    opacity: 0.9;
    list-style: none;
    padding-top: 10vh;
    padding-bottom: 10vh;
}


.side-menu a {  
    text-decoration: none;
    font-size: 25px;
    color : #000000;
    transition: 0.3s;
    font-family: 'Paralucent';
    text-align: center;
}

li {
    margin-bottom: 2vh;
}

.side-menu-content {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.nav-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-footer {
    margin-top: 50vh;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5vh;
}

.nav-footer a {
    font-size: 20px;
    font-style: italic;
}




/* MAIN */ 


main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}
main button {
    width: 300px;
    height: 80px;
    font-family: 'Bold';
    font-size: 30px;
    background-color: transparent;
    border-radius: 5px;
    border: solid 2px #F1F6F9;
    color: #F1F6F9;
}
