<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>U Buscu - Fromage Corse AOP</title>
    <meta name="description" content="U Buscu entreprise d'Aurélia Sabiani, vente de fromage / Brocciu Corse AOP / AOC">
    <link rel="canonical" href="https://www.votresite.com/">
    <script src="../assets/js/script.js" defer></script>
    <link rel="stylesheet" href="../assets/style.css">
    <meta name="theme-color" content="#171A21">
</head>
<body>
    <header>
        <div class="container-header">
            <div class="texte-header">
            <h1> U Buscu </h1>
            <h3> Aurelia Sabiani</h3>
            </div>
            <div class="container-menu-burger">
                <div class="burger" id="menu-burger"> 
                    <span class="barre barre1"></span>
                    <span class="barre barre2"></span>
                    <span class="barre barre3"></span>
                </div>

                <div class="side-menu" id="side-menu">
                    <a href="#" class="close-btn" id="close-btn"></a>
                    <ul>
                        <div class="nav-slider">
                        <li><a href="#">Produits</a></li>
                        <li><a href="#">A propos</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#"> Mentions legales</a></li>
                        </div> 
                    </ul>
                </div>


            </div>
        </div>
    </header>
    <main>
        <button class="decouvrir"> DECOUVRIR </button>
    </main>
</body>
</html>
