<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U Buscu - Fromage Corse AOP </title>
    <meta name="description" content="U Buscu entreprise d'Aurélia Sabiani, vente de fromage / Brocciu Corse AOP / AOC">
    <link rel="canonical" href="https://www.votresite.com/">
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
<header>
    <div class="container-header">
    <h3> Aurélia Sabiani</h3>
    <h1> U Buscu </h1>
    <h4> 06 24 43 72 43 </h4>
</div>
</header>
<main>
    <section class="container-main">
    <img src="../assets/img/Img.svg" alt="chèvre Corse">
    
    <div class="container-main-text">
    <p> Fromage Corse AOP / AOC  Exploitation de chèvres corses dans le respect des traditions</p>
    </div>
    </section>
    <section class="container-second">
    <div class="container-mesproduits">
    <h2> Mes produits </h2>
    </div>
    <div class="container-produits">
    <div class="produit">
        <img src="../assets/img/TestFromage1.svg" alt="Fromage Corse">
        <h3> Fromage Test</h3>
        <p> 20€ / Kg </p>
    </div>
    <div class="produit">
        <img src="../assets/img/TestFromage2.svg" alt="Fromage Corse">
        <h3> Fromage Test</h3>
        <p> 15€ / Tomme </p>
    </div>
    </div>
</section>
</main>
</body>