<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>U Buscu - Fromage Corse AOP</title>
    <meta name="description" content="U Buscu entreprise d'Aurélia Sabiani, vente de fromage / Brocciu Corse AOP / AOC">
    <link rel="canonical" href="https://www.votresite.com/">
    <script src="../assets/js/script.js" defer></script>
    <link rel="stylesheet" href="../assets/style.css">
    <meta name="theme-color" content="#BAC493">
</head>
<body class="body-mentions">
    <header>
        <div class="container-header">
            <div class="texte-header">
                <h1> <a href="../templates/accueil.html"> U Buscu </a> </h1>
            <h3> Aurelia Sabiani</h3>
            </div>
            <div class="container-menu-burger">
                <div class="burger" id="menu-burger"> 
                    <span class="barre barre1"></span>
                    <span class="barre barre2"></span>
                    <span class="barre barre3"></span>
                </div>

                <div class="side-menu" id="side-menu">
                    <a href="#" class="close-btn" id="close-btn"></a>
                    <ul>
                        <div class="nav-slider">
                        <li><a href="../templates/produits.html">Produits</a></li>
                        <li><a href="../templates/apropos.html"> Mon exploitation</a></li>
                        <li><a href="../templates/contact.html">Contact</a></li>
                        <li><a href="../templates/mentionslegales.html"> Mentions legales</a></li>
                        </div> 
                    </ul>
                </div>
            </div>
        </div>
    </header>


    <main>
        <section class="container-mentions">  
            <div class="mentions" ><h3> Mentions légales </h3></div>
            <div class="text-mentions">
                <h2>1 - Editeur du site</h2>
    <p>
        Nom de l'entreprise : MADAME AURELIA SABIANI <br>
        Adresse du siège social : ACQUA IN GHJO 20151 SARI D'ORCINO <br>
        Numéro de téléphone : 06.24.43.72.43 <br>
        Adresse email : aurelia.sabiani@gmail.com <br>
        Forme juridique : Entrepreneur individuel<br>
        Numéro SIRET : 43948035100014<br>
        Numéro RCS : [Numéro RCS]
    </p>

                <h2>2 - Hebergement du site</h2>
    <p>
        Nom de l'hébergeur : [Nom de l'hébergeur] <br>
        Adresse : [Adresse complète de l'hébergeur] <br>
        Numéro de téléphone : [Numéro de téléphone de l'hébergeur] <br>
        Site web : [URL du site web de l'hébergeur]
    </p>

                <h2>3 - Propriete intellectuelle</h2>
    <p>
        L'ensemble du contenu présent sur ce site (textes, images, logos, vidéos, etc.) est la propriété exclusive de [Nom de l'entreprise] ou de ses partenaires. Toute reproduction, distribution, modification, adaptation, retransmission ou publication de ces différents éléments est strictement interdite sans l'accord exprès par écrit de [Nom de l'entreprise].
    </p>
            </div>

            
            </section>
    
    </main>
</body>
</html>
