<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>U Buscu - Fromage Corse AOP</title>
    <meta name="description" content="U Buscu entreprise d'Aurélia Sabiani, vente de fromage / Brocciu Corse AOP / AOC">
    <link rel="canonical" href="https://www.votresite.com/">
    <script src="../assets/js/script.js" defer></script>
    <link rel="stylesheet" href="../assets/style.css">  
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>
    <meta name="theme-color" content="#BAC493">
</head>
<body class="body-base">
    <header>
        <div class="container-header">
            <div class="texte-header">
            <h1> <a href="../templates/accueil.html"> U Buscu </a> </h1>
            <h3> Aurelia Sabiani</h3>
            </div>
            <div class="container-menu-burger">
                <div class="burger" id="menu-burger"> 
                    <span class="barre barre1"></span>
                    <span class="barre barre2"></span>
                    <span class="barre barre3"></span>
                </div>

                <div class="side-menu" id="side-menu">
                    <a href="#" class="close-btn" id="close-btn"></a>
                    <ul>
                        <div class="nav-slider">
                            <li><a href="../templates/produits.html">Produits</a></li>
                            <li><a href="../templates/exploitation.html"> Mon exploitation</a></li>
                            <li><a href="../templates/mentions.html"> Mentions legales</a></li>
                            </div>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <hr class="divider">
    <main class="main-base">
        <div class="first-img">
        <img src="../assets/img/chat.JPG" alt="Image Fromage rond 'Saresu' ">
        </div>
       <section class="container-titre">
       
        <h3> FROMAGES </h3>
        <p> Fromage au lait cru de chèvre corse, produit exclusivement réalisé avec les ressources naturelles de mon exploitation traditionnelle située à Sari-d'Orcino. </p>
       </section>
       <div class="commander">
        <a href="#ancre"> Commander </a>
       </div>
        <section class="container-pres">
            <div class="presentation">
                <div class="cont">
               <a href="../templates/venacais.html"> <img src="../assets/img/Fromage-rond.jpg" alt="Image Fromage rond 'Venacais' "> </a>
                <div class="cont-text">
                <p> Fromage rond 'Venacais'  </p>
                <p> 10€ / Fromage </p>
            </div>
            </div>
            <div class="cont">
                <a href="../templates/niulincu.html">  <img src="../assets/img/Fromage-carre.jpg" alt="Image Fromage carré 'Niulincu'"></a>
                <div class="cont-text">
                <p> Fromage carré 'Niulincu'  </p>
                <p> 10€ / Fromage </p>
            </div>
            </div>
            <div class="cont">
                <a href="../templates/tomme.html"> <img src="../assets/img/Tomme.jpg" alt="Image fromage tomme"></a>
                <div class="cont-text">
                <p> Tomme Corse </p>
                <p> 44€ / Kg </p>
            </div>
            </div>
            <div class="cont">
                <a href="../templates/brocciu.html">  <img src="../assets/img/Brucciu.jpg" alt="Image Brucciu"></a>
                <div class="cont-text">
                <p> Brocciu AOP</p>
                <p> 44€ / Kg </p>
            </div>
            </div>
            </div>
        </section>
        <hr>
        <div class="container-commande" id="ancre">
            <h3> Commander </h3>
            <p> Tel :  06 24 43 72 43  </p>
            <p> Mail :  aurelia.sabiani @ gmail.com</p>
        </div>
    </main>
    
</body>
</html>
