<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>U Buscu - Fromage Corse AOP</title>
    <meta name="description" content="U Buscu entreprise d'Aurélia Sabiani, vente de fromage / Brocciu Corse AOP / AOC">
    <link rel="canonical" href="https://www.votresite.com/">
    <script src="../assets/js/script.js" defer></script>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>
    <meta name="theme-color" content="#BAC493">
</head>
<body class="body-produits">
    <header>
        <div class="container-header">
            <div class="texte-header">
            <h1> <a href="../templates/accueil.html"> U Buscu </a> </h1>
            <h3> Aurelia Sabiani</h3>
            </div>
            <div class="container-menu-burger">
                <div class="burger" id="menu-burger"> 
                    <span class="barre barre1"></span>
                    <span class="barre barre2"></span>
                    <span class="barre barre3"></span>
                </div>

                <div class="side-menu" id="side-menu">
                    <a href="#" class="close-btn" id="close-btn"></a>
                    <ul>
                        <div class="nav-slider">
                        <li><a href="../templates/produits.html">Produits</a></li>
                        <li><a href="../templates/apropos.html"> Mon exploitation</a></li>
                        <li><a href="../templates/contact.html">Contact</a></li>
                        <li><a href="../templates/mentionslegales.html"> Mentions legales</a></li>
                        </div> 
                    </ul>
                </div>
            </div>
        </div>
    </header>


    <main class="main-produits">
        <section class="container-produits"> 
            <div class="fromage">
            <h3> Les Fromages</h3>
            </div> 
            <div class="text-fromage">
                <p> Fromage AOP au lait de chèvres Corses issue d'une exploitation naturelle dans le respect de la tradition </p>
            </div>
        </section>
       

        <div class="container-swiper">
         <!-- Swiper -->
         <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../assets/img/UBuscu.jpeg" alt="Image 1">
                <div class="slide-text"> 
                    <h4>Fromage rond Saresu</h4>
                    <h5> 44€ / Kg</h5>
                </div>
                </div>

                <div class="swiper-slide"><img src="../assets/img/ImgFromage.webp" alt="Image 2">
                    <div class="slide-text"> 
                        <h4>Fromage 2</h4>
                        <h5> 15€ / Tomme</h5>
                    </div>
                </div>

                <div class="swiper-slide"><img src="../assets/img/TestFromage2.webp" alt="Image 3">
                    <div class="slide-text"> 
                        <h4>Fromage 1</h4>
                        <h5> 20€ / Kg</h5>
                    </div>
                </div>

                <div class="swiper-slide"><img src="../assets/img/ImgFromage.webp" alt="Image 4">
                     <div class="slide-text"> 
                        <h4>Fromage 1</h4>
                        <h5> 20€ / Kg</h5>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>

        <!-- Thumbnails -->
        <div class="swiper-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../assets/img/UBuscu.jpeg" alt="Image 1"></div>
                <div class="swiper-slide"><img src="../assets/img/ImgFromage.webp" alt="Image 2"></div>
                <div class="swiper-slide"><img src="../assets/img/TestFromage2.webp" alt="Image 3"></div>
                <div class="swiper-slide"><img src="../assets/img/ImgFromage.webp" alt="Image 4"></div>
            </div>
        </div>


    </div>
   
    </main>
</body>
</html>
