<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>U Buscu - Fromage Corse AOP</title>
    <meta name="description" content="U Buscu entreprise d'Aurélia Sabiani, vente de fromage / Brocciu Corse AOP / AOC">
    <link rel="canonical" href="https://www.votresite.com/">
    <link rel="stylesheet" href="../assets/test.css">
    <meta name="theme-color" content="#699BCA">
</head>
<body>
    <header>
        <div class="container-header">
            <h1> U Buscu </h1>
            <h3> Aurélia Sabiani</h3>
        </div>
    </header>
    <main>
        <button class="decouvrir"> DECOUVRIR </button>
    </main>
</body>
</html>
